<?xml version="1.0" encoding="UTF-8"?>
<widget id="A6936638138587" version="0.0.1">
    <name>玩转国际庄</name>
    <description>国际庄玩个转</description>
    <author email="jinlong.zhang@apicloud.com" href="http://www.apicloud.com">jinlong</author>
    <content src="index.html"/>
    <preference name="pageBounce" value="false"/>
    <preference name="appBackground" value="rgba(0,0,0,0.0)"/>
    <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
    <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
    <preference name="hScrollBarEnabled" value="true"/>
    <preference name="vScrollBarEnabled" value="true"/>
    <preference name="autoLaunch" value="true"/>
    <preference name="fullScreen" value="false"/>
    <preference name="autoUpdate" value="true"/>
    <preference name="smartUpdate" value="false"/>
    <preference name="debug" value="false"/>
    <preference name="statusBarAppearance" value="true"/>
    <permission name="readPhoneState"/>
    <permission name="camera"/>
    <permission name="record"/>
    <permission name="location"/>
    <permission name="fileSystem"/>
    <permission name="internet"/>
    <permission name="bootCompleted"/>
    <permission name="hardware"/>
    <access origin="*"/>
    <feature name="weiXin">
        <param name="urlScheme" value="wxd0d84bbf23b4a0e4"/>
        <param name="apiKey" value="wxd0d84bbf23b4a0e4"/>
    </feature>
    <feature name="sinaWeiBo">
        <param name="urlScheme" value="wb2691317466"/>
        <param name="apiKey" value="2691317466"/>
        <param name="rgistUrl" value="http://www.apicloud.com"/>
    </feature>
</widget>
